src/main/mule/cicd-meetup-mohali-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="cicd-meetup-mohali-demoFlow" doc:id="d1276265-23ff-467c-b853-4a657e0330dd" >
		<scheduler doc:name="Scheduler" doc:id="7b0eea44-85fb-4524-8c59-7d8d4b4d8f8a" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="6b7d57eb-dcca-403c-a4d5-73c2e8a1caa0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	message : "Jenkins Deployment"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="54d13b57-e21f-4e6d-9168-a9e81963abad" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="e178e1e7-eeda-4f1a-9ecd-6fb5e48a8f7e" message="THANK YOU TEAM"/>
	</flow>
</mule>
